.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.App-logo {
  height: 40px;
  margin-left: 80px;
}

.App-body {
  display: flex;
  margin-top: 60px;
  padding-left: 260px; /* Padding for desktop when sidebar is shown */
  transition: all 0.3s ease;
}

.App-body.no-sidebar {
  padding-left: 10px; /* Padding for desktop when sidebar is hidden */
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  order: -1; /* For desktop, pushes it to the far left */
  color: #fff;
  margin-left: 110px;
}

.sidebar {
  width: 250px; /* Width for desktop when sidebar is shown */
  background-color: #282c34;
  overflow: auto;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  transition: all 0.3s ease;
  left: 0;
}

.sidebar.show {
  width: 250px;
  left: 0;
}

.sidebar.hide {
  width: 0; /* Width for desktop when sidebar is hidden */
  left: 0 !important;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a{
    text-decoration: none; 
}

.sidebar ul, .sidebar ul li, .dropdown label {
  margin: 0;
  padding: 15px;
  color: white;
  text-align: left;
  font-size: inherit; 
  background: none;
  border: none;
  cursor: pointer;
  line-height: normal; /* You can adjust this value */
}

.sidebar a{
  color: white;
}
.dropdown label {
  margin-left: -15px  !important;
}

.submenu {
  display: none;
  background-color: #444;
}

.submenu.show {
  display: block;
}

main {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .App-body {
    padding-left: 0; /* Reset padding for mobile */
  }

  .App-header {
    justify-content: center;  /* Center items horizontally */
  }

  .App-logoDiv {
    order: 1; /* Adjust the order */
  }

  .hamburgerDiv {
    order: 0; /* Adjust the order */
    position: absolute; /* Use absolute positioning */
    left: 1px; /* Add some space from the left edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Offset the exact centering by half of the element's height */
  }


  .hamburger {
    margin-left: 5px;
  }

  .App-logo {

    margin-left: 0px;
  }


  .sidebar {
    width: 0;
    left: -250px;
  }

  .sidebar.show {
    width: 250px; /* Reduced width to fit on mobile */
    left: 0;
  }
}
